.footer {
	// .footer__container
	&__container {
	}
	// .footer__content
	&__content {
		padding: 1rem 0rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 1rem;
		@media (min-width: $md) {
			flex-direction: row;
		}
	}
	// .footer__logo
	&__logo {
		height: 7rem;
		width: 7rem;
		@media (min-width: $md) {
			flex: 0 0 7rem;
			width: auto;
		}
	}
	// .footer__links
	&__links {
	}
}
.logo {
	// .logo__link
	&__link {
	}
	// .logo__image
	&__image {
	}
}
.list-footer {
	// .list-footer__title
	&__title {
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
	// .list-footer__sub-list
	&__sub-list {
		display: flex;
		gap: 1rem;
	}
	// .list-footer__sub-link
	&__sub-link {
	}
	// .list-footer__sub-list
	&__sub-list {
		flex-direction: column;
	}
}

body._pc {
	& li {
		flex-direction: column;
	}
	& .list-footer__title {
		margin-bottom: 1.4rem;
	}
}

body._touch {
	& .footer__links {
		flex: 0 0 30%;
	}
	& .list-footer__title {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		&._active {
			.menu__arrow_footer {
				transform: rotate(-180deg);
			}
		}
	}
	& .list-footer__sub-list {
		display: none;
		& li {
			&:not(:last-child) {
				margin-bottom: 1.4rem;
				line-height: 120%;
			}
		}
		&._active {
			display: block;
		}
	}
}
