/*------------- Header ------------------*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #fff;
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		padding: 1em 0rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
	}
	// .header__logo
	&__logo {
		width: 7rem;
		height: 7rem;
		z-index: 2;
	}
	// header__content
	&__content {
		display: flex;
		align-items: center;
		@include adaptive-value(gap, 2, 1, rem);
	}
	// header__menu
	&__menu {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
}
.logo {
	// .logo__link
	&__link {
	}
	// .logo__image
	&__image {
	}
}
