//---------------- Mixins ----------------
@import "mixin.scss";
//--------------- Functions --------------
@import "functions.scss";
//---------------- Fonts -----------------
@import "fonts.scss";
@import "iconfont";
//------------ Default font --------------
$fontFamily: "Montserrat", sans-serif;
$fontSize: 62.5%;
//------------- Variables ----------------
$minWidth: 37.5rem;
$maxWidth: 192rem;
$maxWidthContainer: 120;

$containerPadding: 1.5;
$responsiveType: 1;

$sm: 29.998em; // 479,98px
$md: 47.998em; // 767,98px
$tab: 61.998em; // 991,98px
$laptop: 75em; // 1200px
$pc: $maxWidthContainer / 1.6 + em;

$mainColor: #00244f;
//----------- Reset styles ---------------
@import "reset.scss";
/*-------------- Body ------------------*/
body {
	font-size: 1.6rem;
	&._lock {
		overflow: hidden;
	}
}
/*------------- Wrapper ----------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	> main {
		flex: 1 1 auto;
	}
}
/*------------ Container ---------------*/
@if ($responsiveType==1) {
	// responsive
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: $maxWidthContainer + rem;
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 $containerPadding + rem;
		}
	}
} @else {
	// breakpoints
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: $maxWidthContainer + rem;
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 $containerPadding + rem;
			}
		}
		@media (max-width: $pc) {
			max-width: 97 + rem;
		}
		@media (max-width: $tab) {
			max-width: 75 + rem;
		}
		@media (max-width: $md) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 $containerPadding + rem;
			}
		}
	}
}
/*--------------- ibg ------------------*/
[class*="_ibg"] {
	position: relative;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
//------------- Forms --------------------
@import "forms.scss";
//--------------- UI ---------------------
@import "ui.scss";
//------------- Popup --------------------
@import "popup.scss";
//------------- Header -------------------
@import "header.scss";
//------------- Footer -------------------
@import "footer.scss";
/*-------------- Main ------------------*/
.main {
	// .main__hero
	&__hero {
		padding-top: 10.2rem;
	}
	// .main__departments

	&__departments {
		padding: 5rem 0rem;
	}
}
//=====================================================================
.hero-main {
	// .hero-main__contaier
	&__contaier {
	}
	// .hero-main__body
	&__body {
		padding-bottom: calc(100vh - 10.2rem);
	}
}
//=====================================================================
.departments-main {
	// .departments-main__container
	&__container {
	}
	// .departments-main__title
	&__title {
		text-align: center;
		margin-bottom: 3rem;
	}
	// .departments-main__accordeon
	&__accordion {
	}
}
.accordion {
	// .accordion__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 100%;
		min-height: 4rem;
		border: 0.1rem solid $mainColor;
		border-radius: 1rem;
		&[aria-expanded="true"] {
			background-color: $mainColor;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom-color: $mainColor;
			& .accordion__button {
				color: #fff;
			}
		}
	}
	// .accordion__button
	&__button {
		font-size: 1.8rem;
		flex: 1 1 auto;
		&:focus-visible {
			outline: 0.2rem solid red;
			outline-offset: 0.2rem;
		}
	}
	// .accordion__content
	&__content {
		border: 0.1rem solid $mainColor;
		border-top: 0;
		border-radius: 0 0 1rem 1rem;
		padding: 2rem;
		display: grid;
		grid-template-rows: 1fr;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
		gap: 2rem;
		transition:
			grid-template-rows 0.25s ease,
			padding 0.2s ease,
			border-color 0.2s ease;
		&[hidden] {
			grid-template-rows: 0fr;
			padding-top: 0;
			padding-bottom: 0;
			border-color: transparent;
		}
		& > * {
			overflow: hidden;
		}
	}
	// .accordion__card
	&__card {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 4.45rem 2rem;
		border: 0.2rem solid $mainColor;
		border-radius: 1rem;
	}
}
//=====================================================================
//=====================================================================
