//---------------- Mixins ----------------
@import "mixin.scss";
//--------------- Functions --------------
@import "functions.scss";
//---------------- Fonts -----------------
@import "fonts.scss";
// @import "iconfont";
//------------ Default font --------------
$fontFamily: "Montserrat", sans-serif;
$fontSize: 62.5%;
//------------- Variables ----------------
$minWidth: 37.5rem;
$maxWidth: 192rem;
$maxWidthContainer: 120;

$containerPadding: 1.5;
$responsiveType: 1;

$sm: 29.998em; // 479,98px
$md: 47.998em; // 767,98px
$tab: 61.998em; // 991,98px
$laptop: 75em; // 1200px
$pc: $maxWidthContainer / 1.6 + em;

$mainColor: #00244f;
//----------- Reset styles ---------------
@import "reset.scss";
/*-------------- Body ------------------*/
body {
	font-size: 1.6rem;
	&._lock {
		overflow: hidden;
	}
}
/*------------- Wrapper ----------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	> main {
		flex: 1 1 auto;
	}
}
/*------------ Container ---------------*/
@if ($responsiveType==1) {
	// responsive
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: $maxWidthContainer + rem;
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 $containerPadding + rem;
		}
	}
} @else {
	// breakpoints
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: $maxWidthContainer + rem;
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 $containerPadding + rem;
			}
		}
		@media (max-width: $pc) {
			max-width: 97 + rem;
		}
		@media (max-width: $tab) {
			max-width: 75 + rem;
		}
		@media (max-width: $md) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 $containerPadding + rem;
			}
		}
	}
}
/*--------------- ibg ------------------*/
[class*="_ibg"] {
	position: relative;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
//------------- Forms --------------------
@import "forms.scss";
//--------------- UI ---------------------
@import "ui.scss";
//------------- Popup --------------------
@import "popup.scss";
//------------- Header -------------------
@import "header.scss";
//------------- Footer -------------------
@import "footer.scss";
/*-------------- Main ------------------*/
.main {
	padding-top: 10rem;
	// .main__hero
	&__hero {
	}
	// .main__departments
	&__departments {
		@include adaptive-value(padding-top, 5, 2, rem);
		@include adaptive-value(padding-bottom, 5, 2, rem);
	}
	// .main__addresses
	&__addresses {
	}
	// .main__news
	&__news {
		@include adaptive-value(padding-top, 5, 2, rem);
		@include adaptive-value(padding-bottom, 5, 2, rem);
	}
	// .main__faq
	&__faq {
		@include adaptive-value(padding-top, 5, 2, rem);
		@include adaptive-value(padding-bottom, 5, 2, rem);
	}
	// ================================================================
	// .main__news
	&__news {
	}
	// ================================================================
	// .main__article
	&__article {
	}
	// ================================================================
	// .main__privacy-policy
	&__privacy-policy {
		@include adaptive-value(padding-bottom, 6, 2, rem);
	}
	// ================================================================
}
//=====================================================================
.hero-main {
	// .hero-main__contaier
	&__contaier {
	}
	// .hero-main__body
	&__body {
		padding-bottom: calc(100vh - 10.2rem);
	}
}
//=====================================================================
.departments-main {
	// .departments-main__container
	&__container {
	}
	// .departments-main__title
	&__title {
		text-align: center;
		margin-bottom: 3rem;
	}
	// .departments-main__accordeon
	&__accordion {
	}
}
//=====================================================================
.addresses-main {
	// .addresses-main__container
	&__container {
	}
	// .addresses-main__title
	&__title {
		text-align: center;
		@include adaptive-value(margin-bottom, 4, 2, rem);
	}
	// .addresses-main__map
	&__map {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		@include adaptive-value(gap, 5, 2, rem);
		z-index: 1;
		@media (min-width: $tab) {
			flex-direction: row;
		}
	}
}
.map {
	// .map__buttons
	&__buttons {
		display: flex;
		flex-direction: column;
		@include adaptive-value(gap, 2, 1, rem);
		max-height: 50rem;
		overflow: auto;
		padding: 1rem;
		@media (max-width: $tab) {
			order: 2;
		}
	}
	// .map__frame
	&__frame {
	}
}
.buttons-map {
	// .buttons-map__button
	&__button {
		text-align: left;
		color: $mainColor;
		border-radius: 1rem;
		box-shadow: 0 0 0.8rem 0 rgba(0, 36, 79, 0.25);
		background-color: rgba(255, 255, 255, 1);
		@include adaptive-value(padding, 2, 1.6, rem);
		transition: all 0.3s ease 0s;
		&._active {
			background-color: rgba(0, 36, 79, 0.8);
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(0, 36, 79, 0.8);
				color: #fff;
			}
		}
	}
	// .buttons-map__title
	&__title {
		text-transform: uppercase;
		@include adaptive-value(margin-bottom, 1.6, 0.4, rem);
	}
}

//=====================================================================
.news-main {
	// .news-main__container
	&__container {
	}
	// .news-main__title
	&__title {
		text-align: center;
		@include adaptive-value(margin-bottom, 4, 2, rem);
	}
	// .news-main__content
	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
		margin-bottom: 5rem;
		gap: 4rem;
	}
	// .news-main__article
	&__article {
	}
	// .news-main__footer
	&__footer {
		text-align: center;
	}
	// .news-main__button
	&__button {
		font-size: 1.8rem;
		font-weight: 500;
		color: $mainColor;
		border: 0.1rem solid $mainColor;
		min-width: 18rem;
		min-height: 4rem;
		border-radius: 1rem;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				border: 0.1rem solid transparent;
				background-color: $mainColor;
				color: #fff;
			}
		}
	}
}

//=====================================================================
.faq-main {
	// .faq-main__container

	&__container {
	}

	// .faq-main__title

	&__title {
		margin-bottom: 4rem;
		text-align: center;
	}
	// .faq-main__accordion
	&__accordion {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(1, 1fr);
		@media (min-width: $tab) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .faq-main__body
	&__body {
	}
}
.accordion {
	// .accordion__title

	&__title {
	}

	// .accordion__button

	&__button {
	}

	// .accordion__content

	&__content {
	}

	// .accordion__inner

	&__inner {
	}

	// .accordion__card

	&__card {
	}

	// .accordion__text

	&__text {
		font-size: 1.8rem;
		line-height: 120%;
	}
}

//=====================================================================
.news-main {
	// .news-main__container
	&__container {
	}
	// .news-main__title
	&__title {
	}
	// .news-main__articles
	&__articles {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		@include adaptive-value(gap, 4, 1.6, rem);
		@include adaptive-value(margin-bottom, 4, 2, rem);
	}
	// .news-main__article
	&__article {
	}
	// .news-main__card
	&__card {
	}
	// .news-main__pagigation
	&__pagigation {
	}
}

//=====================================================================
.article-main {
	// .article-main__container
	&__container {
	}
	// .article-main__header
	&__header {
		background-color: #dfdfdf;
		@include adaptive-value(margin-bottom, 5, 3, rem);
		// .article-main__body
		&__body {
			padding: 2rem;
		}
	}
	.header-article {
		&__container {
			@include adaptive-value(padding, 5, 1, rem);
			@media (min-width: $tab) {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
		// .header-article__content
		&__content {
			flex: 0 0 50%;
		}
		// .header-article__date
		&__date {
			margin-bottom: 2rem;
		}
		// .header-article__title
		&__title {
			@include adaptive-value(margin-bottom, 3, 2, rem);
		}
		// .header-article__author
		&__author {
			display: flex;
			align-items: center;
			gap: 1rem;
			@media (max-width: $tab) {
				@include adaptive-value(margin-bottom, 3, 2, rem);
			}
		}
		// .header-article__image
		&__image {
			width: 100%;
			@include adaptive-value(height, 33, 20, rem);
			border-radius: 1rem;
			overflow: hidden;
			@media (min-width: $tab) {
				flex: 0 0 50%;
			}
		}
	}
	.article-author {
		// .article-author__image
		&__image {
			flex: 0 0 5rem;
			height: 6rem;
			// border-radius: 50%;
			overflow: hidden;
		}
		// .article-author__name
		&__name {
		}
	}
	//=====================================================================
	.privacy-policy {
		// .privacy-policy__container
		&__container {
		}
		// .privacy-policy__title
		&__title {
			&_main {
				margin-bottom: 3rem;
				text-align: center;
			}
			&_secondary {
				margin-bottom: 1rem;
			}
		}
		// .privacy-policy__text
		&__text {
			line-height: 120%;
			margin-bottom: 2rem;
		}
	}
}
//=====================================================================
