@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

500;600;700&display=swap);


@font-face {
  font-family: iconfont;
  font-display: swap;
  src: url("../fonts/iconfont.ttf");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

/*--------------------------------------*/

/*---------- Reset styles --------------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 100%;
  font-size: 62.5%;
  font-weight: 400;
}

body {
  color: #00244f;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*-------------- Body ------------------*/

body {
  font-size: 1.6rem;
}

body._lock {
  overflow: hidden;
}

/*------------- Wrapper ----------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex: 1 1 auto;
}

/*------------ Container ---------------*/

[class*=__container] {
  max-width: 120rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/*--------------- ibg ------------------*/

[class*=_ibg] {
  position: relative;
}

[class*=_ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-------------- Forms ------------------*/

/*--------------- UI -------------------*/

body._touch .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__list > li._active {
  flex-wrap: wrap;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}

body._touch .menu__link {
  flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  margin-left: 5px;
  transition: transform 0.3s ease 0s;
}

.menu__icon {
  display: none;
}

.menu__icon._active span {
  transform: translateY(-50%) scale(0);
}

.menu__icon._active::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.menu__icon._active::after {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.menu__list {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.menu__list > li {
  position: relative;
}

.menu__list > li::after {
  content: "";
  position: absolute;
  bottom: 0.8rem;
  left: 0;
  height: 0.2rem;
  width: 0;
  background-color: #00244f;
  transition: all 0.3s ease 0s;
}

.menu__list > li._active .menu__sub-list {
  display: block;
}

.menu__link {
  font-size: 1.8rem;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #00244f;
  padding: 15px;
  min-width: 200px;
}

.menu__sub-list > li:not(:last-child) {
  margin-bottom: 10px;
}

.menu__sub-link {
  position: relative;
  color: #fff;
  font-size: 1.6rem;
}

.menu__sub-link::before {
  content: "";
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  height: 0.2rem;
  width: 0;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

.menu__arrow {
  display: none;
}

.menu__appointment {
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 23rem;
  height: 4rem;
  color: #00244f;
  background-color: transparent;
  border: 0.1rem solid #00244f;
  border-radius: 1rem;
  transition: all 0.3s ease 0s;
  z-index: 2;
}

.menu__low-vision {
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000000;
  z-index: 2;
  transition: all 0.3s ease 0s;
}

.title {
  font-weight: 700;
}

.title_h2 {
  text-transform: uppercase;
  font-size: 2.8rem;
}

.title_h5 {
  text-transform: uppercase;
  font-size: 2rem;
}

.title_h6 {
  font-size: 1.8rem;
}

/*------------- Header ------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.header__body {
  padding: 1em 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header__logo {
  width: 7rem;
  height: 7rem;
  z-index: 2;
}

.header__content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/*-------------- Main ------------------*/

.main__hero {
  padding-top: 10.2rem;
}

.main__departments {
  padding: 5rem 0rem;
}

.hero-main__body {
  padding-bottom: calc(100vh - 10.2rem);
}

.departments-main__title {
  text-align: center;
  margin-bottom: 3rem;
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 4rem;
  border: 0.1rem solid #00244f;
  border-radius: 1rem;
}

.accordion__header[aria-expanded=true] {
  background-color: #00244f;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #00244f;
}

.accordion__header[aria-expanded=true] .accordion__button {
  color: #fff;
}

.accordion__button {
  font-size: 1.8rem;
  flex: 1 1 auto;
}

.accordion__button:focus-visible {
  outline: 0.2rem solid red;
  outline-offset: 0.2rem;
}

.accordion__content {
  border: 0.1rem solid #00244f;
  border-top: 0;
  border-radius: 0 0 1rem 1rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 2rem;
  transition: grid-template-rows 0.25s ease, padding 0.2s ease, border-color 0.2s ease;
}

.accordion__content[hidden] {
  grid-template-rows: 0fr;
  padding-top: 0;
  padding-bottom: 0;
  border-color: transparent;
}

.accordion__content > * {
  overflow: hidden;
}

.accordion__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.45rem 2rem;
  border: 0.2rem solid #00244f;
  border-radius: 1rem;
}

@media (min-width: 61.998em) {
  body._touch .menu__arrow {
    border-top: 10px solid #00244f;
  }

  .menu__list > li {
    align-items: center;
    padding: 1rem 0rem;
  }

  .menu__list {
    flex-direction: row;
  }

  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 75rem) {
  .menu__link {
    font-size: calc(2.4rem + -0.6 * (100vw - 32rem) / 88);
  }

  .menu__sub-link {
    font-size: calc(2rem + -0.4 * (100vw - 32rem) / 88);
  }

  .menu__appointment {
    font-size: calc(1.5rem + 0.1 * (100vw - 32rem) / 88);
  }

  .menu__appointment {
    min-width: calc(17rem + 6 * (100vw - 32rem) / 88);
  }

  .header__content {
    gap: calc(1rem + 1 * (100vw - 32rem) / 88);
  }
}

@media (max-width: 61.998em) {
  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    position: absolute;
    left: 0;
    height: 18%;
    width: 100%;
    background-color: #00244f;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: translateY(-50%) scale(1);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 14rem 1.5rem 1.5rem 3rem;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10.2rem;
    background-color: #fff;
    z-index: 2;
  }

  .menu__list > li:not(:last-child) {
    margin-bottom: 30px;
  }

  .menu__link {
    color: #fff;
  }

  .menu__sub-list > li {
    color: #00244f;
  }

  .menu__sub-list {
    flex: 1 1 100%;
    position: relative;
    background-color: #fff;
    padding: 2rem;
    margin-top: 2rem;
    display: none;
  }

  .menu__sub-link {
    color: #00244f;
  }
}

@media (any-hover: hover) {
  body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0, 0);
  }

  .menu__list > li:hover::after {
    width: 100%;
  }

  .menu__sub-link:hover::before {
    width: 100%;
  }

  .menu__appointment:hover {
    color: #fff;
    background-color: #00244f;
  }
}